@import "_varables";
.navbar{
    >i{
        font-size: 30px;
        color:#99fa99;
    }
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px #99fa99 solid;
    padding: 11px;
    border-radius: 5px;
    display: none;
}
.arrow_text{
    display: none;
}
.header_nav {
  > h1 {
   
    > a {
      color: #99fa99;
      font-size: 50px;
      font-weight: 100;
      text-decoration: none;
    }
    >span {
        color: #b6d8cf;
        margin: 0;
        cursor: pointer;
        display: block;
    }
    margin: 0;
    padding: 30px 0;
  }
  @include setWidth();
  text-align: center;
  > nav {
    >ul{
        >li{
            > a {
                text-decoration: none;
                color: #b6d8cf;
                display: inline-block;
                padding: 10px 46px;
                text-transform: uppercase;
                font-size: 18px;
              }
              >a:hover{
                  color:#d3a3ff;
              }
            >ul{
                >li{
                   
                >a{
                    text-decoration: none;
                    color: #b6d8cf;
                    text-transform: uppercase;
                    font-size: 18px;
                    padding: 10px 0;
                    display: inline-block;
                    width: 100%;
                }
                >a:hover{
                    color:#d3a3ff;
                }
                }
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                top:100%;
                width: 100%;
                text-align: center;
                background-color: #077054;
                display: none;
            }
            position: relative;
            display: inline-block;
        }
        >li:hover ul{
            display: block;
            transition:all 1s;
        }
        list-style: none;
        padding: 0;
        margin: 0;
    }
     text-align: center;
  }
  position: relative;
}
.nav_active{
    color:#99fa99 !important;
}

@media screen and (max-width:960px){
    .header_nav{
        width: 100%;
        padding: 100px 0;
    }

   nav{
       >ul
       { >li{
           >a{
               width: 100%;
               padding: 10px 10px !important;
               color:white !important;
               box-sizing: border-box;
           }
          
          width: 100%;
          background: #077054;
          opacity: .9;
          border-width: 1px;
          border-color: #99fa99;
          border-style: solid;
       }
       li a:hover,li a:hover +div{
           background-color: rgba(153, 250, 153, 0.8);
           opacity: 1;
           color:white !important;
       }
       li>ul {
        >li>a{
            padding: 10px 10px !important;
            color:white !important;
            box-sizing: border-box;

        }
         position: relative !important;
         text-align: left !important;
         border-top: #99fa99 1px solid;
         
       }
       li>ul:hover li{
        background-color: rgba(153, 250, 153, 0.8);
        opacity: 1;
        color:white !important;

       }
       position: absolute;
       width: 90%;
       top:80px;
       right: 20px;
       display: none;
       text-align: left !important;
    }
   }
   .nav_lists{
       width: 90%;
       box-sizing: border-box;
   }
   .arrow_text{
       >i{
           font-size: 20px;
           line-height: 41px;
           color:#99fa99;
       }
       width: 10%;
       float: right;
       text-align: center;
       border-width: 0px 0px 0px 2px;
       border-color: #99fa99;
       border-style: solid;
       height: 100%;
       box-sizing: border-box;
       display: block ;
       cursor: pointer;
       
   }
   .navbar{
       display: block;
   }



}